{{<layout}}

{{$pageTitle}}
  GOV.UK prototype kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">
      Platform
    </span>
    GOV.UK Verify
  </h2>

    <div class="metadata-header">
        <dl>
          <dt>From:</dt>
          <dd>
            <a href="#">Government Digital Service</a>
          </dd>
          <dt>Last updated:</dt>
          <dd><a href="#">26 June 2015</a></dd>
      </dl>
    </div>


    <h2 class="heading-medium">Try it out</h2>

    <p><a href="#">Try a demo of GOV.UK Verify</a></p>


    <h2 class="heading-medium">Keywords</h2>

    <p>platform, identity, security, authentication</p>


    <h2 class="heading-medium">Stats</h2>

    <p>53 open issues on GitHub</p>
    <p>12 open pull requests on GitHub</p>


</main>

{{/content}}

{{/layout}}
