{{<layout}}

{{$pageTitle}}
  GOV.UK prototype kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>




      <div class="head-container">
        <div class="column-two-thirds header-contents">
          <h1 class="heading-xlarge">Developer resources</h1>
          <p>
            Making it simpler, easier and faster to make services for GOV.UK
          </p>
          <form id="header-search" class="site-search" action="/search" method="get" role="search">
            <div class="header-search-content">
              <label for="search-main">Search developer resources</label>
              <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
            </div>
          </form>

        </div>
        <div class="column-third contact-manual">
          <!--
          <p class="font-xsmall">Contact the <a href="">Digital service manual team</a> with any comments or questions.</p>
        -->
        </div>

      </div>




  <div class="grid-row">
    <div class="column-third">

      <h2 class="heading-medium module-header">Platforms</h2>

      <div class="item">
        <h3 class="heading-small">
          <a href="#">GOV.UK Verify</a>
        </h3>
        <p>Identity assurance platform</p>
      </div>

      <div class="item">
        <h3 class="heading-small">
          <a href="#">GOV.UK Pay</a>
        </h3>
        <p>Payment platform</p>
      </div>

      <div class="item">
        <h3 class="heading-small">
          <a href="#">GOV.UK Notify</a>
        </h3>
        <p>Notification platform</p>
      </div>

    </div>
    <div class="column-third">

      <h2 class="heading-medium module-header">Components</h2>

      <div class="item">
        <h3 class="heading-small">
          <a href="#">Country selector</a>
        </h3>
        <p>Auto-complete form control</p>
      </div>

      <div class="item">
        <h3 class="heading-small">
          <a href="#">Address lookup</a>
        </h3>
        <p>Payment platform</p>
      </div>

      <div class="item">
        <h3 class="heading-small">
          <a href="#">GOV.UK Notify</a>
        </h3>
        <p>Notification platform</p>
      </div>

    </div>
    <div class="column-third">

      <h2 class="heading-medium module-header">Data</h2>

      <div class="item">
        <h3 class="heading-small">
          <a href="#">Country register</a>
        </h3>
        <p>Identity assurance platform</p>
      </div>

      <div class="item">
        <h3 class="heading-small">
          <a href="#">Address register</a>
        </h3>
        <p>Payment platform</p>
      </div>

      <div class="item">
        <h3 class="heading-small">
          <a href="#">Companies register</a>
        </h3>
        <p>Notification platform</p>
      </div>

    </div>
  </div>
</main>

{{/content}}

{{/layout}}
