{{<layout}}

{{$pageTitle}}
  GOV.UK prototype kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Government as a platform</a></li>
    </ol>
  </div>




      <div class="head-container">
        <div class="column-two-thirds header-contents">
          <h1 class="heading-xlarge">Government as a platform</h1>
          <p class="lede">
            Making it easier to build digital public services
          </p>
          <form id="header-search" class="site-search" action="/search" method="get" role="search">
            <div class="header-search-content">
              <label for="search-main">Search government as a platform</label>
              <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
            </div>
          </form>

        </div>
        <div class="column-third contact-manual">
          <!--
          <p class="font-xsmall">Contact the <a href="">Digital service manual team</a> with any comments or questions.</p>
        -->
        </div>

      </div>



  <h2 class="heading-large module-header">Platforms</h2>

  <div class="grid-row">
    <div class="column-third">

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Verify</a>
        </h3>
        <p>Authenticate your users</p>
        <p>Used in 56 services</p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Pay</a>
        </h3>
        <p>Accept payments</p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Notify</a>
        </h3>
        <p>Send emails, SMS and letters</p>
      </div>

    </div>
    <div class="column-third">

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Publisher</a>
        </h3>
        <p>Publish content on GOV.UK</p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Blogs</a>
        </h3>
        <p>Publish blogs on GOV.UK</p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Performance</a>
        </h3>
        <p>Publish performance data</p>
      </div>
     
    </div>
    <div class="column-third">

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Messenger</a>
        </h3>
        <p>Instant messaging platform</p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Appointments</a>
        </h3>
        <p>Appointment booking platform</p>
      </div>

    </div>
  </div>


  <h2 class="heading-large module-header">Data</h2>

  <div class="grid-row">
    <div class="column-third">

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">Countries</a>
        </h3>
        <p></p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">Addresses</a>
        </h3>
        <p></p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">Companies</a>
        </h3>
        <p></p>
      </div>

    </div>
    <div class="column-third">

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">Schools</a>
        </h3>
        <p></p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">Rents</a>
        </h3>
        <p></p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">Food ratings</a>
        </h3>
        <p></p>
      </div>
     
    </div>
    <div class="column-third">

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">Government properties</a>
        </h3>
        <p></p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">Organ donors</a>
        </h3>
        <p></p>
      </div>

    </div>
  </div>


   <h2 class="heading-large module-header">Design</h2>

  <div class="grid-row">
    <div class="column-third">

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Components</a>
        </h3>
        <p>Templates, styles and patterns</p>
      </div>

      <div class="item">
        <h3 class="heading-medium">
          <a href="#">GOV.UK Registers</a>
        </h3>
        <p>Trusted data sets from government</p>
      </div>

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
